<style>
body{
  background-color: #5bc0de;
  padding-top: 70px;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DIGICON</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="images/dp.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2><%=username.toUpperCase()%></h2>
                            <p><strong>Email: </strong><%=email%></p>
                            <p><strong>Address: </strong><%=address%> </p>
                            <p><strong>Phone: </strong>
                                <%=phone%>
                            </p>

                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4">
                          <h2><strong>1</strong></h2>
                          <p><small>User Available</small></p>
                            <button class="btn btn-success btn-block" onclick='User.editprofile(<%-JSON.stringify(username)%>)' data-toggle="modal" data-target="#myModal"><span class="fa fa-user"></span> Edit Profile </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong><%=roomsno%></strong></h2>
                            <p><small>Rooms Available</small></p>
                            <a class="btn btn-info btn-block" href="/rooms"><span class="fa fa-gear"></span> View Rooms </a>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong><%=devicesno%></strong></h2>
                            <p><small>Devices Available</small></p>
                            <button type="button" class="btn btn-primary btn-block" onclick='User.adddevice(<%-JSON.stringify(username)%>)' data-toggle="modal" data-target="#myModal2"><span class="fa fa-plus-circle"></span> Add Devices </button>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <form method="post" action="/editprofile">
      <div class="modal-body">
        <div class="form-group">
          <label for="phone">New Phone</label>
          <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone">
        </div>
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" name="password" class="form-control" id="passwrod" placeholder="Password">
        </div>
        <input type="hidden" name="username" value="" id="username_change">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Add Device</h4>
      </div>
      <form method="post" action="/adddevice">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <select class="form-control" name="name" id="name">
              <option value="led10">LED 10W</option>
              <option value="led15">LED 15W</option>
              <option value="light100">Light 100W</option>
              <option value="light40">Light 40W</option>
              <option value="fan">FAN</option>
              <option value="ac1">AC 1T</option>
              <option value="ac15">AC 1.5T</option>
              <option value="tvled30">LED TV(30in)</option>
              <option value="tvled42">LED TV(42in)</option>
              <option value="tvlcd">LCD TV</option>
            </select>
          </div>
          <div class="form-group">
            <label for="unit">Unit</label>
            <input type="number" name="unit" class="form-control" id="unit" placeholder="Units">
          </div>
          <div class="form-group">
            <label for="unittype">Unit Type</label>
            <select class="form-control" name="unittype">
              <option value="w">Watt</option>
              <option value="kw">Kilo Watt</option>
            </select>
          </div>
          <input type="hidden" name="status" value="active" id="status">
          <div class="form-group">
            <label for="usage">Daily Usage</label>
            <select class="form-control" name="usage">
              <option value="4h">4 Hrs</option>
              <option value="5h">5 Hrs</option>
              <option value="6h">6 Hrs</option>
              <option value="8h">8 Hrs</option>
              <option value="10h">10 Hrs</option>
              <option value="12h">12 Hrs</option>
              <option value="14h">14 Hrs</option>
              <option value="16h">16 Hrs</option>
              <option value="18h">18 Hrs</option>
              <option value="20h">20 Hrs</option>
              <option value="24h">24 Hrs</option>
            </select>
          </div>
          <input type="hidden" name="createdBy" value="" id="created">
          <input type="hidden" name="dailyamount" value="" id="dailyamount">
          <div class="form-group">
            <label for="roomid">Room ID</label>
            <select class="form-control" name="roomId">
              <option value="room1">ROOM 1</option>
              <option value="room2">ROOM 2</option>
              <option value="room3">ROOM 3</option>
              <option value="room4">ROOM 4</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var User = {
    editprofile:function(username){
      document.getElementById('username_change').setAttribute("value",username);
    },
    adddevice:function(user){
      document.getElementById('created').setAttribute("value",user);
    }
  };
</script>
